.detail-left {
	width: 810px;
	float: left;
	padding-bottom: 180px;
}
.sale-item {
	padding: 20px;
	overflow: hidden;
	background: url("https://static.c5game.com/images/dota2bg.jpg") no-repeat;
}
.sale-item-csgo {
	padding: 20px;
	overflow: hidden;
}
.sale-item-bg {
	float: left;
	width: 310px;
	height: 208px;
	margin: 5px 20px 5px 5px;
	text-align: center !important;
	background: url("https://static.c5game.com/images/item-bg.jpg") no-repeat;
	background-size: 109% !important;
}
.sale-item-info {
    float: left;
    line-height: 1.4;
    width: 435px;
}
.sale-item-info .attr_name {
    font-size: 18px;
    color: #d4d5d5;
}
.sale-item-info .attr_type {
    margin-top: 10px;
}
.sale-item-info .attr_hero {
    margin-top: 10px;
}
.hero-icon {
	width: 24px;
	height: 16px;
	vertical-align: middle;
	border: 0;
}
.sale-item-info .attr_price {
    font-size: 14px;
	color: #a18551;
	margin: 15px 0;
	position: relative;
}
.sale-item-bottom {
	font-size: 14px;
	text-align: right;
	color: #d4d5d5;
}
.btn-orange {
    color: #fff;
	padding: 0 20px;
	line-height: 28px;
	height: 30px;
	background: #f86b00;
	font-size: 12px;
	border-radius: 2px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.icon-csgo {
	position: relative;
	top: 2px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("http://120.78.164.143:8080/images/item_img/csgoicon.png");
}
.icon-dota2 {
	position: relative;
	top: 2px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("http://120.78.164.143:8080/images/item_img/dota2icon.png");
}








